service cloud.firestore {
  match /databases/{database}/documents {
    match /counters/{counter} {
      function formattedCorrectly() {
        return request.resource.data.keys().hasOnly(['value']) && int(counter) >= 0;
      }
      allow read;
      allow create: if request.resource.data.value == 0 && formattedCorrectly();
      allow update: if request.resource.data.value == resource.data.value + 1 && formattedCorrectly();
    }
  }
}
