service cloud.firestore {
    match /databases/{database}/documents {
        match /users/{userID}/serverData/kycData {
            allow read: if request.auth.uid == userID;
        }
        match /users/{userID}/appData/{document=**} {
            allow read, write, create, delete: if request.auth.uid == userID;
        }
        match /{document=**} {
            allow read, write: if false;
        }
    }
}
